p {
    margin: 0;
}

.main {
    margin-top: 10vh;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    height: 70vh;
    background-color: rgb(188, 213, 255);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    padding: 50px 50px;
    border-radius: 16px;
}

.area1 {
    width: 40%;
    height: 100%;
}

.buttons_area {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.time_area {
    width: 100%;
    height: 25%;
    margin-top: 30px;
    background-color: rgb(20, 75, 171);
    align-items: center;
    justify-content: center;
}

.clock {
    font-family: 'Share Tech Mono', monospace;
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6;
    line-height: 1.2;
    text-align: center;
    padding-top: 30px;
}

#show_hour,
#show_min,
#show_sec {
    font-size: 48px;
}

.attendance_buttons {
    width: 100%;
    height: 50%;
    flex: 1;
    background-color: rgb(255, 193, 87);
    border-radius: 3px;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}

.attendance_buttons.active {
    box-shadow: none;
    transform: translate(10px, 10px);
    background-color: rgb(255, 233, 196);
}

.attendance_buttons form {
    width: 100%;
    height: 100%;
}

.attendance_buttons button {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 32px;
    font-family: "Noto Sans JP";
    font-weight: 600;
    color: white;
}

button {
    /* 1. 背景・枠線・見た目のリセット */
    background: none;
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    /* Safari用 */

    /* 2. 余白・フォントのリセット */
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-align: inherit;

    /* 3. クリック時の反応などを調整 */
    cursor: pointer;
}