/* -------------------------------------------
ヘッダー
-------------------------------------------- */

header {
    background-color: #EDF4F0;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

header ul {
    display: flex;
    margin: 0;
    padding: 12px 12px;
}

header li {
    list-style: none;
    padding: 4px 16px;
    transition: 0.3s;
}

header li a {
    transition: 0.3s;
}

header li:hover {
    cursor: pointer;
    background-color: #acdac0;
}

header li:hover a {
    color: #bbffd9;
}

header a {
    text-decoration: none;
    color: #333333;
}


/* -------------------------------------------
サイドバー
-------------------------------------------- */

aside {
    position: absolute;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: #4CAF93;
    box-sizing: border-box;
}

.aside_menu_bar_box {
    width: 100%;
    height: 48px;
    padding: 8px;
    position: relative;
    box-sizing: border-box;
}

.aside_menu_bar {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 16px;
    background-color: #EDF4F0;
}

.aside_menu_bar::after,
.aside_menu_bar::before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #EDF4F0;
    position: absolute;
    transition: 0.3s;
}

.aside_menu_bar::after {
    top: -10px;
}

.aside_menu_bar_box:hover .aside_menu_bar::before {
    width: 15px;
    transform: rotate(405deg) translateX(-5px) translateY(-2px);
}

.aside_menu_bar_box:hover .aside_menu_bar::after {
    width: 15px;
    transform: rotate(-405deg) translateX(-5px) translateY(2px);
}

.aside_menu_bar::before {
    top: 10px;
}

.aside_menu_box {
    width: 100%;
    height: 48px;
    padding: 16px 16px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    height: auto;
}

.aside_menu_box a {
    margin: 0;
    margin-top: 5px;
    margin-left: 16px;
    font-weight: 600;
    color: #EDF4F0;
    text-decoration: none;
}

.aside_menu_img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}